{% extends "SdzBlogBundle::layout.html.twig" %}

{% block body -%}
<div>
    {% include "SdzBlogBundle:Post:_edit.html.twig" %}
    {% if edit == true %}
    <div>
        <a href="{{ path( 'sdzblog_post_view', { 'post_id': post.vars.value.id } ) }}" class="btn btn-mini">
            <i class="icon-chevron-left"></i>
            Back to the post.
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}

