{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}

{% block body -%}

{% include 'SdzBlogBundle:Post:_view.html.twig' %}


<div class="comments" id="comments">
    <div class="previous-comments">
    <h3>Comments:</h3>
        {% for comment in post.comments %}
            {% include 'SdzBlogBundle:Comment:_view.html.twig'  %}
        {% else %}
        <div>There are not comments for this post. Be the first one to comment ... </div>
        {% endfor %}
    </div>
</div>

<div class="btn-group">
    <a href="{{ path( 'sdzblog_index' ) }}" class="btn btn-mini">
        <i class="icon-chevron-left"></i>
        Back to the Homepage
    </a>
    <a href="{{ path( 'sdzblog_post_edit', { 'post_id': post.id } ) }}" class="btn btn-mini">
        <i class="icon-edit"></i>
        Edit post
    </a>
    <a href="{{ path( 'sdzblog_post_delete', { 'post_id': post.id } ) }}" class="btn btn-mini">
        <i class="icon-trash"></i>
        Delete post
    </a>
</div>
{% endblock %}

