<div>
    written by <span class="highlight">{{ comment.author }}</span>, on <time datetime="{{ comment.created | date( 'c' ) }}">{{ comment.created | date( 'l, F j, Y' ) }}</time>
</div>
<div>{{ comment.content }}</div>
